#maps {
    margin-top: 15px;
	z-index: 10;
    display: flex;
} 

#maps > #base {
    display: block;
}
#maps > #map_first_aid1 {
    display: none;
}
#maps > #map_first_aid2 {
    display: none;
}
#maps > #map_food1 {
    display: none;
}
#maps > #map_food2 {
    display: none;
}
#maps > #map_food3 {
    display: none;
}
#maps > #map_food4 {
    display: none;
}
#maps > #map_police {
    display: none;
}
#maps > #map_shop{
    display: none;
}



#icon_first_aid1{
    z-index: 100;
    position:absolute;
    left: 830px;
    top: 140px;
}
#icon_first_aid1.active{
    left: 1080px;
}

#icon_first_aid2{
    z-index: 100;
    position:absolute;
    left: 370px;
    top: 470px;
}
#icon_first_aid2.active{
    left: 620px;
}

#icon_food1{
    z-index: 100;
    position:absolute;
    left: 850px;
    top: 350px;
}
#icon_food1.active{
    left: 1100px;
}

#icon_food2{
    z-index: 100;
    position:absolute;
    left: 1100px;
    top: 470px;
}
#icon_food2.active{
    left: 1350px;
}

#icon_food3{
    z-index: 100;
    position:absolute;
    left: 330px;
    top: 250px;
}
#icon_food3.active{
    left: 580px;
}

#icon_food4{
    z-index: 100;
    position:absolute;
    left: 120px;
    top: 530px;
}
#icon_food4.active{
    left: 370px;
}

#icon_shop{
    z-index: 100;
    position:absolute;
    left: 730px;
    top: 530px;
}
#icon_shop.active{
    left: 980px;
}

#icon_police{
    z-index: 100;
    position:absolute;
    left: 500px;
    top: 130px;
}
#icon_police.active{
    left: 750px;
}

#current_location{
    z-index: 100;
    position:absolute;
    left: 550px;
    top: 295px;

    text-align: center;
    color:indianred;
    font-weight: bold;
}
#current_location.active{
    left: 800px;
}

.canvas_icon {
    transition: all 0.3s;
}

.popover{
    width:500px ;
    height: 200px;
}

img.icon{
    width: 40px;
    height: 40px;
}

#navb{
    z-index: 80;
    position:absolute;
    width: 1535px;
}

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #444;
    color: #9D9D9D;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #FFF;
    background: #9D9D9D;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #9D9D9D;
}




a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9D9D9D;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*#content {
    min-height: 100vh;
    transition: all 0.3s;
}*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
